body {
  height: 100vh;
  width: 100vw;
}
.header {
  height: 15%;
  width: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  text-align: center;
}
.title {
  display: inline-block;
  margin: 3vh 0;
}
.sim-ver {
  text-align: right;
  font-size: small;
}
.main {
  height: calc(100vh - 15%);
}
.side-bar {
  background-color: silver;
  height: calc(100vh - 15%);
  width: 20%;
  float: left;

  overflow: scroll;
}

.game-page {
  width: 60%;
  height: 85vh;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.select-machine {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: auto;
  text-align: center;
  margin: 0 20% 0 20%;
  border: 1px black solid;
}

.machine-list {
  cursor: pointer;
}
